{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description"
    content="PremierDex is a decentralized exchange that aims to create powerful tools to help all traders trade easily on the algorand blockchain, leading to more equality." />
  <meta name="keywords"
    content="Algorand, Dex, Premier Dex, Token, Presale, Airdrop, Swap, Chart, WhitePaper, Tokenomics, Blockchain, Fast, Cheap, Cheapest, Best, " />
  <meta name="author" content="Ibrahim, odiaga raymond" />

  <title>PremierDex - A DEX on Algorand</title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{% static 'main/assets/img/fav.png' %}" type="image/x-icon" />
  <!-- Bootstrap 4.5 -->
  <link rel="stylesheet" href="{% static 'main/assets/css/bootstrap.min.css' %}" type="text/css" />
  <!-- animate -->
  <link rel="stylesheet" href="{% static 'main/assets/css/animate.css' %}" type="text/css" />
  <!-- Swiper -->
  <link rel="stylesheet" href="{% static 'main/assets/css/swiper.min.css' %}" />
  <!-- icons -->
  <link rel="stylesheet" href="{% static 'main/assets/css/icons.css' %}" type="text/css" />
  <!-- aos -->
  <link rel="stylesheet" href="{% static 'main/assets/css/aos.css' %}" type="text/css" />
  <!-- main css -->
  <link rel="stylesheet" href="{% static 'main/assets/css/main.css' %}" type="text/css" />
  <!-- normalize -->
  <link rel="stylesheet" href="{% static 'main/assets/css/normalize.css' %}" type="text/css" />

  <!-- js for Brwoser -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="dark-currency">
  <div id="wrapper">
    <div id="content">
      <div id="particles-js"></div>
      <!-- Start header -->
      <header class="header-nav-center crypto_dark" id="myNavbar">
        <div class="container">
          <!-- navbar -->
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand c-white" href="/">
              <img width="150px" class="logos" src="{% static 'main/assets/img/output-onlinepngtools (1).png' %}" alt="logo" />
            </a>
            <button class="navbar-toggler menu ripplemenu" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <svg viewBox="0 0 64 48">
                <path d="M19,15 L45,15 C70,15 58,-2 49.0177126,7 L19,37"></path>
                <path d="M19,24 L45,24 C61.2371586,24 57,49 41,33 L32,24"></path>
                <path d="M45,33 L19,33 C-8,33 6,-2 22,14 L45,37"></path>
              </svg>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto nav-pills d-block d-sm-none">
                <li class="nav-item">
                  <a class="nav-link" href="#Vision">Our Vision</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Features">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Token">Tokenomics</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Roadmap">Roadmap</a>
                </li>
                
                
               
              </ul>
              <div class="nav_account ml-auto">
                
                
                <a href="" class="btn scale btn_sm_primary c-white btn_try effect-letter rounded-8">
                  
                </a>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
        <!-- end container -->
      </header>
      <!-- End header -->
      <!-- Fixed side menu -->
      <nav id="myNavbar" class="navbar fixed_side_menu d-none d-sm-block">
        <ul class="navbar-nav mr-auto nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#Vision">Our Vision</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Token">Tokenomics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Roadmap">Roadmap</a>
          </li>
          
        </ul>
      </nav>
      <!-- End. Fixed side menu -->
      <!-- Stat main -->
      <main data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Start Banner Section -->
        <section class="demo_2 demo_4 banner_section" id="Vision">
          <div class="container">
            <div class="row justify-content-md-center text-center">
              <div class="col-md-10 col-lg-6">
                <div class="banner_title">
                  <br><br>
                  <div class="offer">
                    <span class="c-white">Premier </span>
                    <span class="c-magenta">Dex</span>
                  </div>
                  <br><br>
                  <h3 class="c-white">A Dex on Algorand</h3>
                  <p>
                    PremierDex is a decentralized exchange that aims to create powerful tools to help all traders trade easily on the algorand blockchain, leading to more equality.
                  </p>
                  <p>We provie every trader with innovative tools that pros use and consistently add new features pros will love
                    on our upcoming decentralized exchange</p>
                </div>
                <div class="button--click">
                  <button type="button"
                    class="btn btn-token wd-140 btn_md_primary scale effect-letter c-gradient mb-3 mb-sm-0">
                    Get Token
                  </button>
                  <a href="{% static 'main/assets/img/PremierDex White Paper V1.1.pdf' %}" download="whitepaper">
                  <button type="button" class="btn btn-token wd-140 btn_md_primary effect-letter defalult">
                    WhitePaper
                  </button>
                </a>
                </div>
              </div>
              <div class="img__head">
                <img class="illy margin-t-5" src="{% static 'main/assets/img/crypto/pngegg.png' %}" />
              </div>
              <div class="col-md-10 col-lg-6 padding-t-12" style="font-size: 10px">
                <div class="Countdown-timer" style="font-size: 10px">
                  <div countdown data-date="Nov 22 2021 23:59:59">
                    <div class="item">
                      <span data-days>0</span>
                      <p>days</p>
                    </div>
                    <span class="cuot">:</span>
                    <div class="item">
                      <span data-hours>0</span>
                      <p>hr</p>
                    </div>
                    <span class="cuot">:</span>
                    <div class="item">
                      <span data-minutes>0</span>
                      <p>mins</p>
                    </div>
                    <span class="cuot">:</span>
                    <div class="item">
                      <span data-seconds>0</span>
                      <p>sec</p>
                    </div>
                  </div>
                </div>
                <div class="button--click margin-t-5">
                  <button type="button" class="btn btn_md_primary btn-token scale effect-letter c-gradient">
                    Pre Order Now
                  </button>
                  
                </div>
              </div>
            </div>
            <div class="about_currency padding-t-12">
              <div class="row justify-content-md-center">
                <div class="col-md-10 col-lg-6 text-center">
                  <div class="title_sections mb-0">
                    <h2>Our Vision</h2>
                    <p>
                      A sustainable world where everyone creates and exchanges value efficiently, transparently, and securely.

.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Banner -->

        <!-- Start Section Features -->
        <section class="Feature_dark_crypto products_section product_demo2 padding-t-2" id="Features">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-lg-5 margin-b-3">
                <div class="title_sections mb-0">
                  <div class="before_title">
                    <span>Main Feature</span>
                    <span>Points</span>
                  </div>
                  <h2 class="c-white">
                    Decentralized, Fast and Powerful trading.
                  </h2>
                  <p>
                    Premierdex provides a variety of features that make it the best
                    place to start trading
                  </p>
                </div>
                <div class="button--click margin-t-4">
                  <a href="{% static 'main/assets/img/PremierDex White Paper V1.1.pdf' %}" download="whitepaper">
                  <button type="button" class="btn btn-token btn_md_primary scale effect-letter c-gradient">
                    Whitepaper
                  </button>
                </a>
                </div>
              </div>
              <div class="col-lg-6 ml-lg-auto">
                <div class="row">
                  <div class="col-6 col-md-4 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="0">
                      <div class="icon_t">
                        <img src="{% static 'main/assets/img/icons/statistics.svg' %}" />
                      </div>
                      <h3>Platform compatibility</h3>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="100">
                      <div class="icon_t">
                        <img src="{% static 'main/assets/img/icons/networking.svg' %}" />
                      </div>
                      <h3>High Security</h3>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon_t">
                        <img src="{% static 'main/assets/img/icons/access.svg' %}" />
                      </div>
                      <h3>Encryption</h3>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="0">
                      <div class="icon_t">
                        <img src="{% static 'main/assets/img/icons/Decentralized.svg' %}" />
                      </div>
                      <h3>Decentralized</h3>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="100">
                      <div class="icon_t">
                        <img src="{% static 'main/assets/img/icons/houses.svg' %}" />
                      </div>
                      <h3>Low Transaction Fees</h3>
                    </div>
                  </div>
                  <div class="col-6 col-md-4 margin-b-5">
                    <div class="item_pro" data-aos="fade-up" data-aos-delay="200">
                      <div class="icon_t">
                        <img src="{% static 'main/assets/img/icons/technology.svg' %}" />
                      </div>
                      <h3>Provenance</h3>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <!-- .container -->
        </section>
        <!-- End Section Features -->

        

        <!-- Start Features -->
        <section class="features_section install_app padding-t-2 " style="background-color: #091d2e">
          <div class="container">
            <div class="row">
              <!-- text -->
              <div class="col-lg-6 mr-auto order-1 order-lg-0">
                <div class="title_sections mb-0">
                  <h2 class="c-white">
                    We Choose Algorand because
                  </h2>
                  <p>
                    Regardless of your trading level, PremierDex can accommodate you for a seamless, integrated experience trading on the Algorand Ecosystem.
                  </p>
                  <ul class="list-group">
                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p align-middle font-s-8 mr-2"></i>
                      <div class="media-body">
                        PremierDex provides the ultimate trading experience
                      </div>
                    </li>
                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p font-s-8 mr-2"></i>
                      <div class="media-body">
                         Layer 1 smart contracts on Algorand blockchain.
                      </div>
                    </li>
                    <li class="list-group-item c-currency-p media border-0">
                      <i class="tio record c-currency-p font-s-8 mr-2"></i>
                      <div class="media-body">
                        safe and efficient
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- img -->
              <div class="col-lg-6 ml-auto order-0 order-lg-1">
                <div class="images">
                  <img src="https://itforum.com.br/wp-content/uploads/2018/11/futuro-%C3%A9-uma-oportunidade-para-desenharmos-cidades-resilientes-e-sustent%C3%A1veis-768x480.jpg" width="100%" />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Features -->

        <!-- Start Features -->
        <section class="features_section install_app padding-t-5 " id="Token" style="background-color:#091d2e">
          <div class="container">
            <div class="row">
              <!-- img -->
              <div class="col-lg-6 mx-auto my-auto">
                <div class="title_sections margin-b-4">
                  <h2 class="c-white">Tokenomics</h2>
                  <p>
                    We also provide our comunity with our token, with the following amounts  allotted for different purposes:
                  </p>
                </div>
                <div class="images">
                  <img src="https://thumbs.dreamstime.com/b/vector-touch-future-interface-technology-user-experience-abstract-background-innovation-113406973.jpg" width="100%" />
                </div>
              </div>
              <!-- text -->
              <div class="col-lg-6 ml-auto">
                <br><br>
                <div class="item_tokens">
                  <div class="name-coin">
                    <span>Premier Coin</span>
                    <h3>Token Name</h3>
                  </div>
                  <div class="row margin-t-2">
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>250,000,000</span>
                        <h3>Total Supply</h3>
                        <div class="progress">
                          <div class="progress-bar bg-full" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>87,500,000 (35%)</span>
                        <h3>Liquidity pool</h3>
                        <div class="progress">
                          <div class="progress-bar bg-mov" role="progressbar" aria-valuenow="35" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>37,500,000 (15%)</span>
                        <h3>Presale </h3>
                        <div class="progress">
                          <div class="progress-bar bg-mov" role="progressbar" aria-valuenow="15" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>25,000,000 (10%)</span>
                        <h3>Marketing/Team Fund </h3>
                        <div class="progress">
                          <div class="progress-bar bg-medium" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>25,000,000 (10%)</span>
                        <h3>Staking Reward</h3>
                        <div class="progress">
                          <div class="progress-bar bg-weak" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>12,500,000 (5%)</span>
                        <h3>Partnership/Advisors</h3>
                        <div class="progress">
                          <div class="progress-bar bg-weak2" role="progressbar" aria-valuenow="5" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                    <div class="w-100"></div>
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>7,500,000 (3%)</span>
                        <h3>Airdrops</h3>
                        <div class="progress">
                          <div class="progress-bar bg-weak" role="progressbar" aria-valuenow="3" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="item_progress">
                        <span>5,000,000 (2%)</span>
                        <h3>Community contest</h3>
                        <div class="progress">
                          <div class="progress-bar bg-weak2" role="progressbar" aria-valuenow="2" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-8">
                      <div class="item_progress">
                        <span>50,000,000 (20%)</span>
                        <h3>Development/CEX Listing Fund (Locked)</h3>
                        <div class="progress">
                          <div class="progress-bar bg-mov" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                            aria-valuemax="100"></div>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
                <div class="button--click margin-t-2">
                  <button type="button" class="btn mx-0 btn-token btn_md_primary scale effect-letter c-gradient">
                    Get Token Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Features -->

        <!-- Start Roadmap -->
        <section class="roadmap_secrtion padding-t-5 " id="Roadmap" style="background-color: #091d2e">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-lg-6 text-center">
                <div class="title_sections">
                  <h2 class="c-white">Roadmap</h2>
                  <p class="c-currency-p">
                    Any Successful Project Needs A Plan Of Action In Place In
                    Order To Ensure That It Sees Through The Finish Line.
                  </p>
                </div>
              </div>
            </div>

            <!-- Start Timeline -->
            <div class="timeline-box">
              <!-- item Timeline -->
              <div class="item_timeline">
                <div class="row">
                  <div class="col-md-3">
                    <div class="details active">
                      <div class="data">
                        <time>Nov 2021</time>
                        <h4>Launching of PremierDex coin<br> on Algorand blockchain</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>Nov 2021</time>
                        <h4>Token Presale and Airdrop</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>March 2022</time>
                        <h4>Testnet Launch <br />With Basic Features (Dex)</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>March 2022</time>
                        <h4>
                          Security Audit <br />
                         by Runtime Verification
                        </h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item_timeline itemTwo">
                <div class="row">
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>April 2022</time>
                        <h4>
                         PremierDex V1 <br />
                          Mainnet Launch
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>May 2022</time>
                        <h4>
                          Round two Airdrop.
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>May 2022</time>
                        <h4>
                         Full Roadmap Launch
                        </h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>April 2022</time>
                        <h4> PremierDex V2 <br> Mainnet Launch</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item_timeline itemThree">
                <div class="row">
                  <div class="col-md-3">
                    <div class="details">
                      <div class="data">
                        <time>May 2022</time>
                        <h4>Leaping for further challenges</h4>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <!-- End. Timeline -->
          </div>
        </section>
        <!-- End. Roadmap -->

       

        

        <!-- Start form Contact -->
        

        
      </main>
      <!-- end main -->
    </div>
    <!-- [id] content -->
    <footer class="footer_short theme_crypto padding-t-2" style="background-color: #091d2e;">
      <div class="container">
        <div class="row justify-content-md-center text-center">
          <div class="col-md-8">
            
            <div class="social--media">
              <a href="#" class="btn so-link">
                <i class="tio reddit"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio github"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio instagram"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio twitter"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio twitter"></i>
              </a>
              <a href="#" class="btn so-link">
                <i class="tio facebook_square"></i>
              </a>
            </div>
            
            <div class="opyright">
              <p>
                © 2021
                <a href="" target="_blank">oppenhiem.</a>
                All Right Reseved
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </footer>

    <!-- Back to top with progress indicator-->
    <div class="prgoress_indicator">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <!-- Tosts -->
    


    <!-- Start Section Loader -->
    <section class="loading_overlay">
      <div class="loader_logo">
        <img class="logo" src="{% static 'main/assets/img/output-onlinepngtools (1).png' %}"  width="500px !important" />
      </div>
    </section>
    <!-- End. Loader -->

    
  <!-- End. warapper -->

  <!-- jquery -->
  <script src="{% static 'main/assets/js/jquery-3.5.0.js' %}" type="text/javascript"></script>
  <!-- jquery-migrate -->
  <script src="{% static 'main/assets/js/jquery-migrate.min.js' %}" type="text/javascript"></script>
  <!-- popper -->
  <script src="{% static 'main/assets/js/popper.min.js' %}" type="text/javascript"></script>
  <!-- bootstrap -->
  <script src="{% static 'main/assets/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <!--
  ============
  vendor file
  ============
   -->
  <!-- particles -->
  <script src="{% static 'main/assets/js/vendor/particles.min.js' %}" type="text/javascript"></script>
  <!-- TweenMax -->
  <script src="{% static 'main/assets/js/vendor/TweenMax.min.js' %}" type="text/javascript"></script>
  <!-- ScrollMagic -->
  <script src="{% static 'main/assets/js/vendor/ScrollMagic.js' %}" type="text/javascript"></script>
  <!-- animation.gsap -->
  <script src="{% static 'main/assets/js/vendor/animation.gsap.js' %}" type="text/javascript"></script>
  <!-- addIndicators -->
  <script src="{% static 'main/assets/js/vendor/debug.addIndicators.min.js' %}" type="text/javascript"></script>
  <!-- Swiper js -->
  <script src="{% static 'main/assets/js/vendor/swiper.min.js' %}" type="text/javascript"></script>
  <!-- countdown -->
  <script src="{% static 'main/assets/js/vendor/countdown.js' %}" type="text/javascript"></script>
  <!-- simpleParallax -->
  <script src="{% static 'main/assets/js/vendor/simpleParallax.min.js' %}" type="text/javascript"></script>
  <!-- waypoints -->
  <script src="{% static 'main/assets/js/vendor/waypoints.min.js' %}" type="text/javascript"></script>
  <!-- counterup -->
  <script src="{% static 'main/assets/js/vendor/jquery.counterup.min.js' %}" type="text/javascript"></script>
  <!-- charming -->
  <script src="{% static 'main/assets/js/vendor/charming.min.js' %}" type="text/javascript"></script>
  <!-- imagesloaded -->
  <script src="{% static 'main/assets/js/vendor/imagesloaded.pkgd.min.js' %}" type="text/javascript"></script>
  <!-- BX-Slider -->
  <script src="{% static 'main/assets/js/vendor/jquery.bxslider.min.js' %}" type="text/javascript"></script>
  <!-- Sharer -->
  <script src="{% static 'main/assets/js/vendor/sharer.js' %}" type="text/javascript"></script>
  <!-- sticky -->
  <script src="{% static 'main/assets/js/vendor/sticky.min.js' %}" type="text/javascript"></script>
  <!-- Aos -->
  <script src="{% static 'main/assets/js/vendor/aos.js' %}" type="text/javascript"></script>
  <!-- main file -->
  <script src="{% static 'main/assets/js/main.js' %}" type="text/javascript"></script>
  <!-- crypto -->
  <script src="{% static 'main/assets/js/pages/crypto.js' %}" type="text/javascript"></script>


</body>

</html>